body {
    font-family: Arial, sans-serif;
    background-color: #f8f8ff;
    color: #000;
}

.carrito-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8ff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: left;
    font-size: 24px;
    margin-bottom: 20px;
}

.carrito-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.item-detalle {
    display: flex;
    align-items: center;
}

.item-detalle img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 10px;
}

.item-info h2 {
    font-size: 18px;
    margin: 0;
}

.item-info p {
    font-size: 16px;
    color: #666;
}

.item-cantidad {
    display: flex;
    align-items: center;
}

.btn-cantidad {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 10px;
}

.btn-cantidad:hover {
    background-color: #eee;
}

.btn-quitar {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}

.btn-quitar:hover {
    background-color: #eee;
}

.item-total p {
    font-size: 16px;
    color: #666;
}

.total-general {
    text-align: right;
    margin-top: 20px;
}

.total-general h3 {
    font-size: 20px;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.total {
    font-size: 18px;
    font-weight: bold;
}

.sucursal {
    width: 50%;
}

.sucursal h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.sucursal-detalle h3 {
    font-size: 18px;
    margin: 0;
}

.sucursal-detalle p {
    font-size: 16px;
    color: #666;
}

.acciones-carrito {
    display: absolute;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.btn-seguir-comprando {
    background-color: #d8bff8;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #000;
    cursor: pointer;
    font-size: 16px;
}

.btn-seguir-comprando:hover {
    background-color: #c8aef8;
}

hr {
    border: 1px solid #ccc;
    width: 100%;
}
