/* Fondo general */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5d8f4;
    background: linear-gradient(90deg, #f5d8f4 50%, #511253 50%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contenedor general del login */
.login-page {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

/* Estilo del formulario */
.login-container {
    background-color: #fcefff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    font-size: 24px;
    color: #511253;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    color: #7e5786;
    margin-bottom: 30px;
}

/* Inputs */
.input-style {
    background-color: #fff;
    border: 2px solid #e1aee1;
    padding: 10px 15px;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 15px;
    font-size: 14px;
    color: #333;
    transition: all 0.3s;
}

.input-style:focus {
    outline: none;
    border-color: #b77bc9;
    box-shadow: 0 0 8px rgba(183, 123, 201, 0.5);
}

.input-style::placeholder {
    color: #c38cb6;
}

/* Botón */
.btn-purple {
    background-color: #b77bc9;
    color: #fff;
    font-size: 16px;
    padding: 12px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s, transform 0.2s;
}

.btn-purple:hover {
    background-color: #a86bb6;
    transform: scale(1.05);
}

/* Enlace de registro */
.register-container {
    margin-top: 20px;
}

.register-link {
    color: #d841cc;
    font-weight: bold;
    text-decoration: none;
}

.register-link:hover {
    color: #c038b2;
    text-decoration: underline;
}
