/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Banner */

/* Estilos para el Banner */
.banner {
    background-image: url('/pastelitos/banner2.jpg'); /* Ruta absoluta desde la raíz pública */
    background-size: cover; /* La imagen cubre todo el espacio del banner */
    background-position: center; /* Centra la imagen */
    height: 400px; /* Altura del banner */
    display: flex; /* Permite alinear contenido dentro del banner */
    align-items: center; /* Centra el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
    color: white; /* Color del texto en el banner */
    text-align: center; /* Centra el texto dentro del banner */
    position: relative; /* Para posicionar contenido adicional si es necesario */
}

/* Categorías */
.categories {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.category-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #f0f0f0;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-btn.active, .category-btn:hover {
    background-color: #d6a2e8;
    color: white;
}

/* Sección de búsqueda */
.search-bar {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.search-bar input {
    width: 50%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

/* Productos */
/* Productos */
.product-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-left: 1.5cm; /* Margen lateral izquierdo */
    margin-right: 1.5cm; /* Margen lateral derecho */
}

.product-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr); /* Ajuste para mostrar 4 productos por fila */
    justify-items: center;
    width: calc(100% - 3cm); /* Ajustar ancho total menos los márgenes */
}

.product-card {
    width: 100%;
    max-width: none; /* Eliminamos el max-width para que los productos se ajusten a la nueva configuración de grid */
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img, .placeholder-img {
    width: 100%;
    height: 200px; /* Puedes ajustar la altura según necesites */
    background-color: #eee;
    border-radius: 10px;
}

.product-name {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

.product-price {
    color: #d6a2e8;
    font-weight: bold;
    margin-top: 5px;
}

